@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";


:root{

  /* colors */
  --primary : #633cff;
  --secondary:#ffffff;
  --primary-light: #beadff;
  --primary-bg: #fafafa;

  --text-primary: #333333;
  --text-secondary: #737373;
  --border-color: #d9d9d9;
  --background-light: #efebff;

  --error: #ff3939;

  /* topography */

  --font-primary:"Instrument Sans",sans-serif;
  
  /* HM-heading M,HS-Heading S,BM-Body M.. */
  --font-size-HM:32px;
  --font-size-HS:16px;
  --font-size-BM:16px;
  --font-size-BS:12px;

  --font-weight-heading:600;
  --font-weight-body:400;

/* interactive elements */
--input-border-default:var(--border-color);
--input-border-focus: var(--primary);
--input-border-error:var(--error);

--button-bg-primary-default:var(--primary);
--button-bg-primary-active:var(--primary-light);
--button-bg-primary-disabled:#d4cafb;
--button-bg-secondary-default:transparent;
--button-bg-secondary-active:var(--background-light);
--button-bg-secondary-disabled:transparent;

--button-text-color-primary:var(--secondary);
--button-text-color-secondary:var(--primary);
--button-text-color-secondary-default:var(--border-color);

--button-border-primary:none;
--button-border-primary-secondary:var(--primary);
--button-border-color-secondary-default:var(--border-color);

}
body{
  background-color: var(--primary-bg);
}
.container{
  
    max-width: 990px;
    margin: 0 auto;
    padding: 0 20px;
  
}
.cont{
  width: 100%;
  border: 1px solid blue;
  
}

.faLink{
  font-size: 40px;
border-radius: 15px;
padding: 5px;
color: var(--secondary);
background-color: var(--primary);
}
.head_text h2{
font-size: 48px;
font-weight: var(--font-weight-heading);
}

.head_text p{
  font-size: 18px;
  padding: 5px 0;
  color: var(--text-secondary);
}

.form_container{
  background-color: var(--secondary);
 border-radius: 10px;
 
 }
 
 input:focus {
  border-color: var(--primary);
  background-color: #f0f8ff;
  outline: none; 
}